body {
    background-color: #7B68EE;
}

#game-intro {
    background-image: url(images/intro_background.png);
    background-size: auto;
    background-color: #76D7C4;
    height: 643px;
    width: 1200px;
    margin: auto;
}

#intro-info {
    padding: 350px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column wrap;

}

#intro-text {
    color: white;
    font-size: 19px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
     
}

#start-button {
    height: 60px;
    width: 200px;
    background-color: #76D7C4;
    font-size: 20px;
    padding: 16px;
    border-radius: 12px;
    border: 2px solid black;
    
}

#start-button:hover {
    background-color: #F1C40F;
    color: black;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#instructions-button {
    height: 60px;
    width: 200px;
    background-color: #76D7C4;
    font-size: 20px;
    padding: 16px;
    border-radius: 12px;
    border: 2px solid black;
}

#instructions-button:hover {
    background-color: #F1C40F;
    color: black;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#instructions-screen {
    background-image: url(images/base_background.png);
    background-size: cover;
    height: 643px;
    width: 1200px;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    direction: flex;

}

#instructions-li {
    list-style-type: none;
}

#back-home-button {
    height: 60px;
    width: 200px;
    background-color: #76D7C4;
    font-size: 20px;
    padding: 16px;
    border-radius: 12px;
    border: 2px solid black;
}

#back-home-button:hover {
    background-color: #F1C40F;
    color: black;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#game-screen {
    background-image: url(images/background.png);
    background-size: cover;
    position: relative;

}

.lifeless {
    height: 38px;
    width: 38px;
}

#game-score {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 20px;
    display: flex;
    
}

#points-div {
    position: fixed;
    right: 0;
    float: right;
    margin-top: -150px;
    margin-right: 50px;
}

.coin-img {
    height: 30px;
    width: 30px;
}

#points-menu {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    display: flex;
    flex-flow: column wrap;
}

#game-over {
    background-image: url(images/base_background.png);
    background-size: cover;
    height: 643px;
    width: 1200px;
    margin: auto;
    text-align: center;

}

#restart-button {
    height: 60px;
    width: 200px;
    background-color: #76D7C4;
    font-size: 20px;
    padding: 16px;
    border-radius: 12px;
    border: 2px solid black;
}

#restart-button:hover {
    background-color: #F1C40F;
    color: black;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}